/*resets*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, form, input,
button, select, option {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button:focus, input:focus, select:focus {
	outline: 0;
}

button:hover {
	cursor: pointer;
}

ol, ul {
	list-style: none;
}

body {
  font-family: 'Raleway', serif;
	color: #3c3c3c;
}

#root {
	margin: 50px 150px;
}

.center-button {
	width: 25%;
	margin: 0 auto;
}

.show-trucks-button {
	width: 100%;
	font-size: 16px;
	background-color: #626e60;
	padding: 5px 0;
	border-radius: 5px;
	border: 2px solid #3c3c3c;
	color: #fff;
}

.display-trucks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 25px;
	background-color: #af473c;
	border-radius: 5px;
}

.hide-trucks {
	display: none;
}

.trucks {
	padding: 10px 7px;
	font-weight: 600;
}

.description-text {
	margin: 25px 0;
	margin-bottom: 0;
	text-align: center;
}

.search-bar {
	border-radius: 5px;
	width: 100%;
	font-size: 16px;
	border: 1px solid #626e60;
	padding: 5px 3px;
	margin-right: 20px;
}

.inline-text {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.search-bar:focus {
	border: 2px solid #626e60;
}

.truck-options {
	width: 100%;
	font-size: 16px;
	border: 1px solid #626e60;
	border-radius: 5px;
	height: 31px;
	margin-right: 20px;
}

.update-instructions {
	font-size: 12px;
}

form {
	width: 33%;
	margin: 0 auto;
}
